{% extends 'base.html' %}
{% block title %} Home Page{% endblock  %}
{% block content %} 

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for card in meals %}
<div class="col">
    <div class="card h-100">
      <img src="{{card.strMealThumb}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title fw-bold">{{card.strMeal}}</h3>
        <p class="card-text fs-4 fst-normal">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock  %}